*{
    font-size: 1.4rem;
}
  
body {
    margin: 0px;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 10px;
    display: flex;
    margin-top: 45px;
    
}

li a {
    padding: 10px 30px;
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

.qoute {
    padding: 200px 20px 0 60px;
    /* color: white; */
    color: black;
}

button{
    margin-top: 30px;
}

/* design dummy data */

.link{
    text-decoration: none;
    color: black;
}

body{
    width: 100vw;
}

.cardContainer{
    /* display: flex; */
    /* justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.card{
    height: 400px;
    width: 250px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    /* border */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;

}

img{
    height: 250px;
    width: 250px;
}

.text{
    font-size: 1em;
    margin: 0;
}

.locationEmoji img{
    height: 35px;
    width: 35px;
}

.location{
    display: flex;
    justify-content: space-around;
    font-size: 1em;
}

/* home css */

.qoute{
    height: 100vh;
    width: 100vw;
    background-color: rgb(228,228,232);
    /* background-color: black; */
    background-image: url("https://images.static-collegedunia.com/public/college_data/images/campusimage/1515757026LPU%20Campus%20View%20new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
}