*{
    font-size: 1.4rem;
}
  
body {
    margin: 0px;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 10px;
    display: flex;
    margin-top: 45px;
    
}

li a {
    padding: 10px 30px;
    text-decoration: none;
    margin-right: 20px;
    color: black;
}

.qoute {
    padding: 200px 20px 0 60px;
    /* color: white; */
    color: black;
}

button{
    margin-top: 30px;
}

/* design dummy data */

.link{
    text-decoration: none;
    color: black;
}